
.icon-menu-search:before { content: '\e800'; } /* '' */
.icon-menu-user:before { content: '\e801'; } /* '' */
.icon-menu-basket:before { content: '\e802'; } /* '' */
.icon-menu-home:before { content: '\e803'; } /* '' */
.icon-menu-share:before { content: '\e804'; } /* '' */
.icon-menu-more:before { content: '\e805'; } /* '' */