@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1s both;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down {
  animation: fade-down 1s both;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-left {
  animation: fade-left 1s both;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-right {
  animation: fade-right 1s both;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s both;
}

@keyframes flip-down {
  0% {
    transform: rotateX(-90deg);
    transform-origin: top;
  }

  100% {
    transform: rotateX(0);
    transform-origin: top;
  }
}

.animate-flip-down {
  animation: flip-down 1s both;
}

@keyframes flip-up {
  0% {
    transform: rotateX(90deg);
    transform-origin: bottom;
  }

  100% {
    transform: rotateX(0);
    transform-origin: bottom;
  }
}

.animate-flip-up {
  animation: flip-up 1s both;
}

@keyframes jump {
  0%, 100% {
    transform: scale(100%);
  }

  10% {
    transform: scale(80%);
  }

  50% {
    transform: scale(120%);
  }
}

.animate-jump {
  animation: jump .5s both;
}

@keyframes jump-in {
  0% {
    transform: scale(0%);
  }

  80% {
    transform: scale(120%);
  }

  100% {
    transform: scale(100%);
  }
}

.animate-jump-in {
  animation: jump-in .5s both;
}

@keyframes jump-out {
  0% {
    transform: scale(100%);
  }

  20% {
    transform: scale(120%);
  }

  100% {
    transform: scale(0%);
  }
}

.animate-jump-out {
  animation: jump-out .5s both;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes rotate-x {
  0% {
    transform: rotateX(360deg);
  }

  100% {
    transform: rotateX(0);
  }
}

.animate-rotate-x {
  animation: rotate-x 1s both;
}

@keyframes rotate-y {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0);
  }
}

.animate-rotate-y {
  animation: rotate-y 1s both;
}

@keyframes shake {
  0% {
    transform: translateX(0rem);
  }

  25% {
    transform: translateX(-1rem);
  }

  75% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0rem);
  }
}

.animate-shake {
  animation: shake .5s both;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s both;
}

@keyframes wiggle-more {
  0%, 100% {
    transform: rotate(-12deg);
  }

  50% {
    transform: rotate(12deg);
  }
}

.animate-wiggle-more {
  animation: wiggle-more 1s both;
}

.animate-normal {
  animation-direction: normal;
}

.animate-reverse {
  animation-direction: reverse;
}

.animate-alternate {
  animation-direction: alternate;
}

.animate-alternate-reverse {
  animation-direction: alternate-reverse;
}



.animate-infinite {
  animation-iteration-count: infinite;
}

.animate-once {
  animation-iteration-count: 1;
}

.animate-twice {
  animation-iteration-count: 2;
}

.animate-thrice {
  animation-iteration-count: 3;
}

.animate-ease-linear {
  animation-timing-function: linear;
}

.animate-ease-in {
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.animate-ease-out {
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.animate-ease-in-out {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes jump-in {
  0% {
    transform: scale(0%);
  }

  80% {
    transform: scale(120%);
  }

  100% {
    transform: scale(100%);
  }
}
.animate-delay-500 {
  animation-delay: 500ms;
}
.animate-delay-1000 {
  animation-delay: 1000ms;
}
.animate-delay-1500 {
  animation-delay: 1500ms;
}
.animate-delay-2000 {
  animation-delay: 2000ms;
}
.animate-delay-2500 {
  animation-delay: 2500ms;
}
.animate-delay-3000 {
  animation-delay: 3000ms;
}
.animate-delay-3500 {
  animation-delay: 3500ms;
}
.animate-delay-4000 {
  animation-delay: 4000ms;
}

.animate-delay-4500 {
  animation-delay: 4500ms;
}
.animate-delay-5000 {
  animation-delay: 5000ms;
}

.animate-duration-500 {
  animation-duration: 500ms;
}
.animate-duration-1000 {
  animation-duration: 1000ms;
}
.animate-duration-1500 {
  animation-duration: 1500ms;
}
.animate-duration-2000 {
  animation-duration: 2000ms;
}
.animate-duration-2500 {
  animation-duration: 2500ms;
}
.animate-duration-3000 {
  animation-duration: 3000ms;
}
.animate-duration-3500 {
  animation-duration: 3500ms;
}
.animate-duration-4000 {
  animation-duration: 4000ms;
}

.animate-duration-4500 {
  animation-duration: 4500ms;
}
.animate-duration-5000 {
  animation-duration: 5000ms;
}

.animate-delay-100 {
  animation-delay: 100ms;
}
