.refference_info_box{
  padding-left: 50px;
  padding-right: 20px;
}
.reff_info_box_p_1{
  font-weight:800;
   line-height: 1.8;
}
.reff_info_box_p_2{
  font-weight:800
}
.reff_info_box_p_3{
  line-height: 18px;
}
@media(max-width:992px){
  .refference_info_box{
    padding-left: 0px;

  }
}
