<div class="is-section is-box is-section-100 type-poppins box-autofit">
    <div class="is-overlay"></div>
    <div class="is-boxes">
        <div class="is-box-centered is-opacity-95">
            <div class="is-container v2 leading-14 size-18 is-content-1400">

                <div class="row">
                    <div class="column full">
                        <article class="entry single">
                            <h1 style="box-sizing: border-box; margin: 0px 0px 15px; font-size: 20px; font-family: inherit; font-weight: 500; color: inherit; float: left; width: 330px; padding-top: 6px; border: 0px;" class="leading-11">&nbsp;</h1>

                            <div style="box-sizing:border-box;" class="text-left">
                                <p class="text-left"><span style="box-sizing:border-box;font-weight:700;">ВРЪЩАНЕ И ЗАМЯНА</span></p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;">&nbsp;</p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;">Връщане или замяна на закупени продукти през сайта&nbsp;<span class="font-semibold">NOJOVETE.BG&nbsp;</span>, без установена причина за рекламация е възможно до 14 календарни дни след получаването на стоката по чл.55 от ЗЗП.<br style="box-sizing:border-box;">
                                    Връщането и замяната стават само ако продуктът или продуктите бъдат върнати в&nbsp;<span style="box-sizing:border-box;font-weight:700;">запазена оригинална опаковка</span>&nbsp;и&nbsp;<span style="box-sizing:border-box;font-weight:700;">изправно състояние, неизползвани, с оставени на местата им етикети.&nbsp;</span>Разходите по транспорт за връщане и/или замяна са за сметка на Клиента. Сумата за върнатата стока се възстановява до 30 дни от датата на приемане на стоката по банков път по сметка предоставена писмено от КЛИЕНТА. Възстановява се само стойността на продуктите. Не се възстановяват разходите за транспорт.</p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;"><span style="box-sizing:border-box;font-weight:700;">РЕКЛАМАЦИИ</span></p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;">Рекламация при явни дефекти се предявява в рамките на 3 работни дни след получаването на стоката, а при скрити дефекти - при откриването им, но не по-късно от срока на гаранцията им.&nbsp; При рекламация КЛИЕНТЪТ може да претендира за:</p>

                                <ol style="box-sizing:border-box;margin-top:0px;margin-bottom:10px;">
                                    <li style="box-sizing:border-box;"><span style="box-sizing:border-box;font-weight:700;">Връщане на продукта и възстановяване на заплатената от КЛИЕНТА сума</span>&nbsp;в случай, че са констатирани липси, несъответствие с обявения размер, цвят или цена.</li>
                                    <li style="box-sizing:border-box;"><span style="box-sizing:border-box;font-weight:700;">Замяна на стоката –&nbsp;</span>при констатирани производствени дефекти на стоката или грешно изпратен продукт.</li>
                                </ol>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;">При установена рекламация, стоката следва да бъде върната на&nbsp;NOJOVETE.BG<span style="box-sizing:border-box;font-weight:700;">&nbsp;на адрес гр. Варна ,ул. Рали Мавридов 35 с куриерска компания за сметка на КУПУВАЧА.&nbsp;</span>&nbsp;<span class="font-semibold">NOJOVETE.BG</span>&nbsp;&nbsp;ще замени Вашата &nbsp;стока, ако стоката не подлежи на ремонт, &nbsp;в срок от 7 дни от датата на връщане или отремонтира Вашата стока в срок посочен от производителя, но не повече от 30 дни, или възстановява платената сума, ако преждевременно&nbsp;продуктът е изчерпан. <span class="font-semibold">NOJOVETE.BG</span>&nbsp;изплаща сумата не по-късно от 30 работни дни, считано от датата, на която потребителят е направил рекламация, чрез банков превод по сметка предоставена писмено от КЛИЕНТА.&nbsp;</p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;"><span style="box-sizing:border-box;font-weight:700;">ГАРАНЦИЯ</span></p>

                                <p style="box-sizing:border-box;margin:0px 0px 10px;">Законовата гаранция на всички продукти е 2 години и започва да тече от датата на продажба. Ние ще отстраним дефектите, причинени от материални пропуски или производствените грешки. Гаранцията може да бъде изпълнена чрез ремонт или замяна по нашата собствена преценка. Гаранцията не покрива повреди на износени части, повреждане или дефекти, причинени от неправилна употреба или поддръжка. Искове по гаранцията ще бъдат приемани, само ако стоката се донесе/изпрати напълно сглобена и добре опакована заедно с кратко описание на повредата, както и с документ за продажба или фактура Срока за ремонт и връщане на стоки в гаранция е 30 дни.&nbsp;</p>
                            </div>

                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>