<div apidata="Blog.get_blogPosts" keyname="post" :data-id="data.corePage.target_id" data-test="true">
    <div class="py-5 mt-10">
        <p x-text="data.post.title" class="text-center text-3xl font-bold text-neutral-700"></p>
        <div class="flex justify-center items-center gap-3 py-2">
            <div class="flex justify-center items-center gap-1">
                <i class="fa-regular fa-calendar-days text-neutral-700"></i>
                <p x-text="data.post.date_publish"></p>
            </div>
            <div class="flex justify-center items-center gap-1">
                <i class="fa-regular fa-folder-open text-neutral-700"></i>
                <p x-text="data.post.category.title"></p>
            </div>

        </div>
    </div>

    <template x-if="data.post.images[0]">
        <div class="text-center ">
            <img :src="data.post.images[0].url" alt="" class=" shadow-2xl" style="margin:0 auto !important;     max-height: 400px;">
        </div>
    </template>

</div>
<div x-html="data.post.description">
</div>